@font-face {
    font-family: Adam;
    src: url(fonts/ADAM.otf);
}

@font-face {
    font-family: Biko;
    src: url(fonts/Biko_Bold.otf);
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Adam;
    color: white;
}

.video {
    width: 100%;
    height: 100%;
    filter: blur(5px);
    transform: scale(1.03);
    position: fixed;
    z-index: 5;
}

.container, .container-fluid {
    position: relative;
    z-index: 10;
}

.container, .container-fluid {
    height: 100%;
}

.row-main {
    flex-grow: 10;
}

.footer {
    flex-grow: 1;
    font-size: 1.5vw;
    color: #ababab;
}

.footer span {
    margin: 0 5px;
}

.score{
    font-family: Biko;
    font-size: 7vw;
    text-shadow: 6px 3px 5px rgba(0, 0, 0, 1);
}

.score-block {
    display: inline-block;
    min-width: 20px;
}

.team {
    margin-top: 25px;
    font-size: 1vw;
}

.img-fluid:hover {
    cursor: pointer;
}

.match_type {
    position: relative;
    border-bottom: 1px solid white;
    min-width: 20%;
}

.label {
    width: 100px;
    height: auto;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.saveMatch-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    z-index: 20;
    justify-content: center;
    background-color: #1eb11e;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.01;
    transition: .2s;
}

.saveMatch-button:hover {
    cursor: pointer;
    opacity: 1;
}

.saveMatch-button:active {
    transform: scale(0.95);
}

