<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>D</title>
  <link rel="stylesheet" href="requires/css/shake.css">
  <link rel="stylesheet" href="requires/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?rd5re8">
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div class="video" data-vide-bg="video/ocean"></div>
  <div class="container-fluid d-flex flex-column" id="app">
    <div class="saveMatch-button" @click="saveMatch">
      ✔
    </div>
    <div class="row row-main">
      <div class="col-sm-5 d-flex flex-column justify-content-center align-items-center">
        <!--<v-select
                :on-change="function(val) {onTeamSelect(0, val)}"
                :on-search="getTeams"
                :options="teamsList"
                placeholder="Search Team"
                label="name"
                :debounce="250"
        >
        </v-select>-->
        <v-select
                :debounce="250"
                :on-search="getOptions"
                :options="options"
                placeholder="Search GitHub Repositories..."
                label="full_name"
        >
        </v-select>
        <!--<img class="shake-slow img-fluid" :src="'teams/' + teams[0] + '.png'" @click="teamSelect0 = true" v-if="!teamSelect0">
        &lt;!&ndash;<h5 class="team" v-if="!teamSelect0 && teams[0] ">{{teamsList[teams[0]].join(' | ')}}</h5>&ndash;&gt;-->
      </div>
      <div class="col-sm-2 d-flex flex-column justify-content-center align-items-center score ds">
        <h4 class="match_type" contenteditable="true" @input="updateType($event)" v-if="teamsList" v-once>{{type}}</h4>
        <div class="score" v-if="teamsList">
          <div class="score-block" contenteditable="true" @input="updateScore($event, 0)" v-once>{{score[0]}}</div><span> : </span><div class="score-block" contenteditable="true" @input="updateScore($event, 1)" v-once>{{score[1]}}</div>
        </div>
      </div>
      <div class="col-sm-5 d-flex flex-column justify-content-center align-items-center">
        <v-select
                v-if="teamSelect[1]"
                :on-change="function(val) {onTeamSelect(1, val)}"
                :on-search="getTeams"
                :options="teamsList"
                placeholder="Search Team"
                label="name"
                :debounce="250"
        >
        </v-select>
        <img class="shake-slow img-fluid" :src="'teams/' + teams[1] + '.png'" @click="teamSelect[1] = true" v-if="!teamSelect[1]">
        <h5 class="team"  v-if="!teamSelect[1] && teams[1]">{{teamsList[teams[1]].join(' | ')}}</h5>
      </div>
    </div>
    <div class="row footer">
      <div class="col-sm-4 offset-sm-4 d-flex justify-content-center align-items-center">
        <span class="socicon socicon-vkontakte"></span>
        <span class="socicon socicon-twitter"></span>
        <span class="socicon socicon-youtube"></span>
        <span class="socicon socicon-facebook"></span>
        | DOTA2RUHUB
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="requires/js/jquery.vide.min.js"></script>
  <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-select@latest"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
